aside
    position absolute
    width 288px
    height 100%
    top 0
    left 0
    background white
    display flex
    flex-direction column
    align-items center
    justify-content center
    border-top 0px
    border-bottom 0px

    nav
        position relative
        height 100%
        width 100%
        text-align center
        overflow auto
        
        
