.create-meeting
    width 70px
    height 70px
    background #3F88C5
    border-radius 100%
    position fixed
    top 13px
    right 30px
    display flex
    justify-content center
    align-items center
    color white
    cursor pointer

    .agendar
        font-family 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        font-size 14px