.freeRooms
    margin 10px 0
    width 100%
    display flex
    flex-wrap wrap
    height 0
    overflow hidden

    &.-active
        height auto

    .content
        padding 10px
        margin-top 5px
        color white
        background #3F88C5
        max-width 100px
        font-size 14px
        margin 0 5px
