.list-room
    position relative
    padding 10px
    height 80px
    background #3F88C5
    display flex
    align-items center
    cursor pointer
    font-size 14px
    font-family Verdana, Geneva, Tahoma, sans-serif

    &:hover
        color white
        transition ease .2s all


