.list-room
    position relative
    padding 10px
    height 80px
    background white
    display flex
    align-items center
    cursor pointer
    font-size 14px
    font-family Verdana, Geneva, Tahoma, sans-serif

    &:hover
        color #3F88C5
        transition ease .2s all

        &:after
            width 100%

    &:after
        content ''
        position absolute
        height 2px
        width 0px
        left 0
        bottom 14px
        background #3F88C5
        transition ease .4s width




