extends ../includes/template/main

block details
    - title = 'Home'
    - description = 'Initial page'

block body
 
    aside 

        .title-nav
            .nome Salas disponiveis

        nav 
            
            //- .list-room
            //-     .nome Sala Brasil
