*
    -webkit-font-smoothing antialiased
    -webkit-overflow-scrolling touch
    appearance none
    border 0
    box-sizing border-box
    color inherit
    list-style none
    margin 0
    outline none
    padding 0
    text-decoration none

.initial-load *
    transition none !important

body
    background-color #F6F7EB
